/*
    css 선택자

    요소를 선택하는 3가지 방법
    class : .
    id : #
    tag name : 태그 이름

    선택자 {
        스타일 속성을 적용
    }
*/
/* 태그이름으로 선택*/
p {
    background-color: aquamarine;
    border: 1px solid #eee;
    border-radius: 10;
    padding: 10px;
}

/* 
class를 이용해서 요소에 스타일을 적용
1. 스타일 정의
2. 요소의 class속성에 값을 입력
*/

.red{
    color: red;
}

/*아이디를 사용해서 */
#name {
    border-radius: 10;
}
